<%= turbo_stream.replace "file-preview" do %>
  <div id="file-preview" class="my-3 mx-3">
    <%= image_tag "noimage.png",
                  size: "75x75",
                  class: "rounded-circle d-inline-block" %>
  </div>
<% end %>