<!-- app/views/shared/_footer.html.erb -->
<footer class="py-1 bg-light w-100">
  <div class="container-fluid text-center">
    <small class="text-muted">All rights reserved by MeRock</small>
  </div>
</footer>